body {                                           
	background: url(./assets/body-background.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
a {
    text-decoration: none;
}