body {                                           
	background: url(../src/bg.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a {
    text-decoration: none;
}